<mat-sidenav-container class="sidnav-wrap w-full" autosize>
    <mat-sidenav
      #matSidenav
      [opened]="sidenav" 
      [mode]="small ? 'over' : 'side'" 
      class="w-15rem">
  
      <mat-nav-list role="list">
        <!-- HOME BUTTON -->
        <mat-list-item class="select-none" 
          routerLink="home" 
          [activated]="menuSelected === 'home'" 
          (click)="menuSelected = 'home'">
            <mat-icon matListItemIcon>home</mat-icon>
            <div matListItemTitle>Inicio</div>
        </mat-list-item>
        
        <!-- STUDENT BUTTON -->
        <mat-list-item class="select-none" 
          routerLink="student" 
          [activated]="menuSelected === 'student'" 
          (click)="menuSelected = 'student'">
            <mat-icon matListItemIcon>people</mat-icon>
            <div matListItemTitle>Estudiantes</div>
        </mat-list-item>

        <!-- COURSE BUTTON -->
        <mat-list-item class="select-none" 
          routerLink="course" 
          [activated]="menuSelected === 'course'" 
          (click)="menuSelected = 'course'">
            <mat-icon matListItemIcon>collections_bookmark</mat-icon>
            <div matListItemTitle>Cursos</div>
        </mat-list-item>
        
        <!-- USER BUTTON -->
        <mat-list-item *ngIf="isAdmin$ | async" 
          class="select-none" 
          routerLink="user" 
          [activated]="menuSelected === 'user'" 
          (click)="menuSelected = 'user'">
            <mat-icon matListItemIcon>manage_accounts</mat-icon>
            <div matListItemTitle>Usuarios</div>
        </mat-list-item>
      </mat-nav-list>    
    </mat-sidenav>
  
    <main class="p-2">
      <router-outlet></router-outlet>  
    </main>
  </mat-sidenav-container>