<h2 mat-dialog-title title>Asignar Curso</h2>
<mat-dialog-content>
   <ng-container *ngIf="courses$ | async as courses; else cargando">
        <form [formGroup]="form" class="grid grid-nogutters">
            <input matInput formControlName="id" type="number" hidden>
            <input matInput formControlName="studentId" type="number" hidden>
            <mat-form-field appearance="outline" class="col-12">
                <mat-label>Curso</mat-label>
                <input matInput
                    [matAutocomplete]="auto"
                    [formControl]="courseControl">
                <mat-autocomplete [displayWith]="displayFn" #auto="matAutocomplete">
                  <mat-option *ngFor="let course of courses" [value]="course">
                    <span>#{{course.id}} | {{course.name }}</span>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            <button mat-raised-button color="primary" class="col-12" (click)="close()">Guardar</button>
        </form>
   </ng-container>
   <ng-template #cargando>
        Buscando cursos...
   </ng-template>
   
</mat-dialog-content>

