<section>
    <header class="m-1 flex flex-row align-items-center justify-content-between">
        <h2>Detalle del Curso</h2>
        <div *ngIf="isAdmin$ | async" 
            class="flex flex-grow justify-content-end gap-2">
                <button mat-raised-button *ngIf="!updateMode" color="accent" (click)="enableUpdate()">Habilitar edición</button>
                <button mat-raised-button *ngIf="updateMode" color="primary" (click)="update()">Aceptar edición</button>
                <button mat-raised-button *ngIf="updateMode" class="surface-300" (click)="cancel()">Deshacer edición</button>
                <button mat-raised-button color="warn" (click)="delete()">Eliminar</button>
        </div>
    </header>
    <form [formGroup]="courseForm" class="grid grid-nogutters">
        <mat-form-field appearance="outline" class="col-1">
            <mat-label>#</mat-label>
            <input matInput formControlName="id" type="text">
            <mat-error *ngFor="let error of nameControl.errors | keyvalue">{{ error | formControlError: 'Id' }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-5">
            <mat-label>Nombre del Curso</mat-label>
            <input matInput formControlName="name" type="text">
            <mat-error *ngFor="let error of nameControl.errors | keyvalue">{{ error | formControlError: 'Nombre' }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
            <mat-label>Fecha de Inicio</mat-label>
            <input matInput formControlName="startDate" [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngFor="let error of startDateControl.errors | keyvalue">{{ error | formControlError: 'Fecha de Inicio' }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
            <mat-label>Fecha de Finalización</mat-label>
            <input matInput formControlName="endDate" [matDatepicker]="pickerEndDate">
            <mat-datepicker-toggle matIconSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
            <mat-datepicker #pickerEndDate></mat-datepicker>
            <mat-error *ngFor="let error of endDateControl.errors | keyvalue">{{ error | formControlError: 'Fecha de Finalización' }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
            <mat-label>Profesor</mat-label>
            <input matInput formControlName="professor" type="text">
            <mat-error *ngFor="let error of professorControl.errors | keyvalue">{{ error | formControlError: 'Profesor' }}</mat-error>
        </mat-form-field>
    </form>
</section>
<section>
    <header class="m-1 flex flex-row align-items-center justify-content-between">
        <h2>Gestion de Estudiantes</h2>
        <button mat-raised-button color="primary" (click)="enrollStudent()">Inscribir Estudiante</button>    
    </header>
    <p class="my-4 text-base">Estudiantes inscriptos al curso: </p>
    <app-inscription-table
        [dataSource]="(enrolledStudents$ | async) || []"
        [canEdit]="false"
        [canView]="false"
        [view]="'student'"
        class="grid grid-nogutters mx-1" 
        (inscriptionDelete)="inscriptionTableDelete($event)"
    ></app-inscription-table>
</section>
