<div class="m-5">
    <h2 title class="mt-2 mb-6 font-bold">Usuarios</h2>
    <section class="grid grid-nogutter py-2 my-2">    
        <p class="col-12 text-lg">Listado de los usuarios de la plataforma. Aquí podrá realizar distintas operaciones sobre los usuarios.</p>
        <p class="col-12 text-lg">Esta sección es unicamente accesible para los usuarios con un rol de administrador.</p>
    </section>
</div>

<section class="grid grid-nogutter mx-3">
    <button mat-raised-button 
        color="primary"
        (click)="createUserDialog()">Nuevo Usuario</button>

        <app-user-table class="col-12 my-3" 
            [dataSource]="(dataSource$ | async) || []" 
            (userEdit)="edit($event)" 
            (userDelete)="delete($event)"></app-user-table>
</section>