<header class="my-7">
    <h1 class="text-center text-6xl uppercase font-italic font-bold">Coderhouse</h1>
</header>
<section class="mx-4 mb-4">
    <h2 class="text-2xl font-bold">¡Bienvenido {{userName$ | async | titlecase}}!</h2>
    <div *ngIf="(userRole$ | async | lowercase) === 'admin'" class="text-xl my-4">
        <p>Usted posee un usuario con rol de <strong>ADMINISTRADOR</strong> por lo que tiene un control completo de la plataforma, es decir, puede realizar las siguientes operaciones: </p> 
        <mat-list>
            <mat-list-item>Alta, Baja, Modificación y Listado de Estudiantes</mat-list-item>
            <mat-list-item>Alta, Baja, Modificación y Listado de Cursos</mat-list-item>
            <mat-list-item>Alta, Baja y Listado de Inscripciones</mat-list-item>
            <mat-list-item>Alta, Baja, Modificación y Listado de Usuarios</mat-list-item>
        </mat-list>
    </div>
    <div *ngIf="(userRole$ | async | lowercase) !== 'admin'" class="text-xl my-4">
        <p>Usted posee un usuario con rol <strong>{{userRole$ | async}}</strong> por lo tiene permisos restrigidos en la plataforma, es decir, puede realizar las siguientes operaciones: </p> 
        <mat-list>
            <mat-list-item>Listado y acceso de solo lectura de Estudiantes</mat-list-item>
            <mat-list-item>Listado y acceso de solo lectura de Cursos</mat-list-item>
            <mat-list-item>Alta, Baja y Listado de Inscripciones</mat-list-item>
        </mat-list>
    </div>
</section>
<section class="mx-4 mb-6">
    <h2 class="text-2xl font-bold">Inscripciones</h2>
    <p class="text-lg my-4">Puede realizar inscripciones tanto en la sección de <strong>Estudiantes</strong> como de <strong>Cursos</strong>.</p>
    <p class="text-lg my-4">Para inscribir a un estudiante en uno o mas cursos, debe dirigirse a la sección de <strong routerLink="/dashboard/student" class="no-underline text-blue-400 cursor-pointer">Estudiantes</strong>, ingresar a la opción de detalles del estudiante deseado y ahi tendrá la opcion para hacer las inscripciones.</p>
    <p class="text-lg my-4">Para inscribir estudiantes en un curso, debe dirigirse a la seccion de <strong routerLink="/dashboard/course" class="no-underline text-orange-400 cursor-pointer">Cursos</strong>, ingresar a la opción de detalles del curso deseado y ahi tendrá la opcion para hacer las inscripciones de uno o mas estudiantes.</p>
</section>