<h2 title class="my-2">Estudiantes</h2>
<section class="grid grid-nogutter py-2">    
    <p class="col-12">En esta sección se encuentran los estudiantes inscriptos a un curso, los cuales se listan en la siguiente tabla.</p>
    <p class="col-12">Aquí podrá realizar Altas, Modificaciones y Bajas de los estudiantes del curso.</p>
</section>

<section class="grid grid-nogutter py-4">
    <button mat-raised-button 
        color="primary"
        (click)="createUserDialog()">Nuevo Estudiante</button>
    
    <app-student-list class="col-12 my-3" 
        [dataSource]="dataSource" 
        (studentEdit)="edit($event)" 
        (studentDelete)="delete($event)"></app-student-list>
</section>
