<div class="m-5 mb-3">
    <h2 title class="my-2">Clases</h2>
    <section class="grid grid-nogutter py-2">   
        <p class="col-12">En esta sección se encuentran las clases que se asocian a un curso.</p>
        <p class="col-12">Aquí podrá realizar Altas, Modificaciones y Bajas de los mismos.</p>
    </section>
</div>
<section class="grid grid-nogutter mx-3">
    <button mat-raised-button 
        color="primary"
        (click)="createSubjectDialog()">Nueva Clase</button>

        <app-subject-table class="col-12 my-3" 
            [dataSource]="(dataSource$ | async) || []" 
            (subjectEdit)="edit($event)" 
            (subjectDelete)="delete($event)"></app-subject-table>
</section>