<h2 mat-dialog-title title>Datos del Estudiante</h2>
<mat-dialog-content>
    <form [formGroup]="studentForm" class="grid">
        <input matInput formControlName="id" type="number" hidden>
        <mat-form-field appearance="outline" class="col-6">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" type="text">
            <mat-error *ngFor="let error of nameControl.errors | keyvalue">{{ error | formControlError: 'Nombre' }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-6">
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="surname" type="text">
            <mat-error *ngFor="let error of surnameControl.errors | keyvalue">{{ error | formControlError: 'Apellido' }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput formControlName="email" type="email">
            <mat-error *ngFor="let error of emailControl.errors | keyvalue">{{ error | formControlError: 'Correo Electrónico' }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input matInput formControlName="birthdate" [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngFor="let error of birthdateControl.errors | keyvalue">{{ error | formControlError: 'Fecha de Nacimiento' }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
            <mat-label>Telefono</mat-label>
            <input matInput formControlName="phone" type="text">
            <mat-error *ngFor="let error of phoneControl.errors | keyvalue">{{ error | formControlError: 'Teléfono' }}</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" class="col-12" (click)="close()">Enviar</button>
    </form>
</mat-dialog-content>